.Playlist {
  margin-top: 1rem;
  margin-bottom: 20px;
  margin-right:  20%;
  display: flex;
  flex-direction: column;
  }
  .Playlist.h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
  }
  .Playlist button {
    align-self: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Playlist button:hover {
    background-color: #4CAF50;
  }